<% if current_user.nil? %>
    <em>You are currently not logged in.</em>
<% elsif current_user.id == @pet.shelter_id %>
    <%= form_for @pet do |form| %>

        <div class='field'>
            <%=form.label :breed %>
            <%= form.text_field :breed, class:'form-control'%>
        </div>

        <div class='field'>
            <%=form.label :date_of_birth %>
            <%= form.text_field :date_of_birth, class:'form-control'%>
        </div>

        <div class='field'>
            <%=form.label :description %>
            <%= form.text_field :description, class:'form-control'%>
        </div>

        <div class='field'>
            <%=form.label :name %>
            <%= form.text_field :name, class:'form-control'%>
        </div>

        <div class='field'>
            <%=form.label :price %>
            <%= form.text_field :price, class:'form-control'%>
        </div>

        <div class='field'>
            <%=form.label :species %>
            <%= form.text_field :species, class:'form-control'%>
        </div>

        <div class="field">
            <%= form.label :pet_pics, 'Pet Pics' %>
            <em>(Resized to 400x400)</em><br />
            <%= form.file_field :pet_pics, multiple: true, class: "btn btn-outline-primary" %>
        </div>

        <div class="field">
            <%= link_to 'Clear Album', delete_pet_pics_pets_url(@pet.id),
                    method: :delete %>
        </div>

        <div class='actions'>
            <%= form.submit 'Submit', class:'btn btn-primary'%>
        </div>

    <% end %>
<% else %>
    <em>You have no business being here!</em>
<% end %>