<!DOCTYPE html>
<html>
    <body class="bg-light">
        <main role="main" class="container">
        <!-- Header 
            <div class="starter-template">
                <h1>Shelter Name</h1>
            </div>
        -->
            <div class="row d-flex justify-content-left">
            <% @ratings.each do |rating| %>
                <% picture = Profile.find_by_user_id(rating.user_id).profile_pic %>
                <% if rating.approved != false %>
                    <div class="col-4">
                        <!-- Each user card -->
                        <div class="pet-card">
                            <div class="card md-4 shadow-sm">
                                <% if picture.attached? %>
                                    <%= image_tag(picture, size: "300x325", class: "card-img-top", alt: "Card image cap") %>
                                <% else %>
                                    <%= image_tag("silhouette.jpg", class: "card-img-top", alt: "Card image cap") %>
                                <% end %>
                                <!-- User/Pet information -->
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h3 class="card-title"><%= rating.adopter_name %></h3>
                                        <h3 class="card-subtitle mb-2"><%= rating.location %></h3>
                                    </div>
                                    <hr>
                                    <!-- Approved Contact info  -->
                                    <% if rating.approved %>
                                        <p class="lead"> 
                                        <b>Pet:</b> <%= rating.pet_name%>
                                        <br>
                                        <b>Email:</b> <%= rating.adopter_email%>
                                        <br>
                                        <% if !rating.a_phone.nil? %>
                                            <b>Phone Number:</b> <%= rating.a_phone%>
                                        <% end %>
                                        </p>
                                    <!-- Else new match message -->
                                    <% else %>
                                        <p class="lead"> 
                                        Congratulations, <%= rating.adopter_name %> liked 
                                        <b><%= rating.pet_name %></b> the <%= rating.species %>.
                                        </p>    
                                    <% end %>                              
                                    <hr>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <% if rating.approved.nil? %> <!-- Buttons only shown if not approved -->
                                            <div class="btn-group">
                                                <!-- Postive Approve button -->
                                                <%= form_tag(controller: "shelter", action: "approve") do %>
                                                    <%= hidden_field_tag(:approved, true) %>
                                                    <%= hidden_field_tag(:rating_id, rating.rating_id) %>
                                                    <div class="action">
                                                        <%= submit_tag('  ✓  ', class: "btn btn-sm btn-outline-success") %>
                                                    </div>
                                                <% end %>
                                                <!-- Negative Approve button -->
                                                <%= form_tag(controller: "shelter", action: "approve") do %>
                                                    <%= hidden_field_tag(:approved, false) %>
                                                    <%= hidden_field_tag(:rating_id, rating.rating_id) %>
                                                    <div class="action">
                                                        <%= submit_tag('  X   ', class: "btn btn-sm btn-outline-danger") %>
                                                    </div>
                                                <% end %> 
                                            </div>
                                        <% end %>
                                        <div class="btn-group">
                                            <%= link_to('View Profile', view_profile_path(rating.rating_adopter_id), class: "btn btn-sm btn-outline-secondary") %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %> <!-- End of form loop -->
            </div>
        </main>
    </body>
</html>

